<div class=" flex justify-center items-center mt-4 align-middle">
  <div class="p-12 w-[30rem] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-900 dark:border-gray-800">
    <form class="max-w-lg mx-auto" [formGroup]="form" (ngSubmit)="save()">
      <div class="mb-4">
        <label class="block mb-2 font-bold" for="firstName">First Name</label>
        <input id="firstName" class="w-full px-4 py-2 border rounded" type="text" formControlName="firstName">
        <div *ngIf="form.get('firstName').invalid && (form.get('firstName').dirty || form.get('firstName').touched)" class="text-red-500 mt-1">
          <div *ngIf="form.get('firstName').errors?.required">First Name is required</div>
        </div>
      </div>
    
      <div class="mb-4">
        <label class="block mb-2 font-bold" for="lastName">Last Name</label>
        <input id="lastName" class="w-full px-4 py-2 border rounded" type="text" formControlName="lastName">
        <div *ngIf="form.get('lastName').invalid && (form.get('lastName').dirty || form.get('lastName').touched)" class="text-red-500 mt-1">
          <div *ngIf="form.get('lastName').errors?.required">Last Name is required</div>
        </div>
      </div>
    
      <div class="mb-4">
        <label class="block mb-2 font-bold" for="email">Email</label>
        <input id="email" class="w-full px-4 py-2 border rounded" type="email" formControlName="email">
        <div *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)" class="text-red-500 mt-1">
          <div *ngIf="form.get('email').errors?.required">Email is required</div>
          <div *ngIf="form.get('email').errors?.email">Invalid email format</div>
        </div>
      </div>
    
      <div class="mb-4">
        <label class="block mb-2 font-bold" for="age">Age</label>
        <input id="age" class="w-full px-4 py-2 border rounded" type="date" formControlName="age">
        <div *ngIf="form.get('age').invalid && (form.get('age').dirty || form.get('age').touched)" class="text-red-500 mt-1">
          <div *ngIf="form.get('age').errors?.required">Age is required</div>
        </div>
      </div>
    
      <div class="mb-4">
        <label class="block mb-2 font-bold" for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" class="w-full px-4 py-2 border rounded" type="number" formControlName="phoneNumber">
        <div *ngIf="form.get('phoneNumber').invalid && (form.get('phoneNumber').dirty || form.get('phoneNumber').touched)" class="text-red-500 mt-1">
          <div *ngIf="form.get('phoneNumber').errors?.required">Phone Number is required</div>
          <div *ngIf="form.get('phoneNumber').errors?.pattern">Invalid phone number format</div>
        </div>
      </div>
    
      <div class="mb-4">
        <label class="block mb-2 font-bold" for="role">Role</label>
        <select id="role" class="w-full px-4 py-2 border rounded" formControlName="role">
          <option value="">Select a role</option>
          <option value="ROLE_SELLER">Seller</option>
          <option value="ROLE_ADMIN">Admin</option>
          <option value="ROLE_BUYER">Buyer</option>
          <option value="ROLE_AGENT">Agent</option>
        </select>
        <div *ngIf="form.get('role').invalid && (form.get('role').dirty || form.get('role').touched)" class="text-red-500 mt-1">
          <div *ngIf="form.get('role').errors?.required">Role is required</div>
        </div>
      </div>
    
      <div class="mb-4">
        <label class="block mb-2 font-bold" for="cin">CIN</label>
        <input id="cin" class="w-full px-4 py-2 border rounded" type="number" formControlName="cin">
        <div *ngIf="form.get('cin').invalid && (form.get('cin').dirty || form.get('cin').touched)" class="text-red-500 mt-1">
          <div *ngIf="form.get('cin').errors?.required">CIN is required</div>
          <div *ngIf="form.get('cin').errors?.pattern">CIN must be 8 digits</div>
        </div>
      </div>
    
      <div class="mb-4">
        <label class="block mb-2 font-bold" for="address">Address</label>
        <textarea id="address" class="w-full px-4 py-2 border rounded" formControlName="address"></textarea>
      </div>
    
      <div class="mb-4">
        <label class="block mb-2 font-bold" for="password">Password</label>
        <input id="password" class="w-full px-4 py-2 border rounded" type="password" formControlName="password">
        <div *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)" class="text-red-500 mt-1">
          <div *ngIf="form.get('password').errors?.required">Password is required</div>
        </div>
      </div>
    
      <div class="mb-4">
        <label class="block mb-2 font-bold" for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" class="w-full px-4 py-2 border rounded" type="password" formControlName="confirmPassword">
        <div *ngIf="form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)" class="text-red-500 mt-1">
          <div *ngIf="form.get('confirmPassword').errors?.required">Confirm Password is required</div>
        </div>
      </div>
    
      <div *ngIf="form.hasError('passwordMismatch') && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)" class="text-red-500 mt-1">
        Passwords do not match
      </div>
    
      <button type="submit" class="py-2 px-4 bg-blue-500 text-white rounded">Submit</button>
    </form>

  </div>
</div>